redis==8.0.0
pytest==9.0.3
pytest-cov==7.1.0
pika==1.4.1
numpy==2.4.6
pillow==12.2.0
opencv-python-headless==4.13.0.92
boto3==1.43.22

git+https://github.com/Kevinferl98/fastapi-observability-lib.git@v1.3.0